.users {
	font-size: 2rem;

	&__user-list {
		display: flex;
		align-items: center;

		img {
			width: 3.6rem;
			height: 3.6rem;
			margin-right: 1.2rem;
			border-radius: 50%;
			object-fit: cover;
		}

		p {
		}
	}

	&__edit-user {
		display: flex;
		align-items: center;

		button {
			padding: 0.6rem 1.2rem;
			margin-right: 1.6rem;
			border-radius: 0.8rem;
			border: none;

			color: white;
			background-color: #3bb077;
			cursor: pointer;
		}

		.icon {
			font-size: 2.4rem;
			color: red;
			cursor: pointer;
		}
	}
}

.MuiDataGrid-columnHeaderTitle {
	font-weight: bold !important;
}

.MuiDataGrid-cell,
.MuiDataGrid-columnHeader {
	outline: none !important;
}

.MuiDataGrid-footerContainer {
	font-size: 1.6rem !important;
}

.MuiTypography-root,
// .MuiSvgIcon-root,
.MuiDataGrid-rowCount,
.MuiDataGrid-selectedRowCount {
	font-weight: 600 !important;
	font-size: 1.4rem !important;
}
