.side-bar {
	position: sticky;
	top: var(--top-bar-height);
	height: calc(100vh - var(--top-bar-height));

	border-radius: 1.2rem;
	background: rgb(251, 251, 255);

	&__wrapper {
		padding: 2.4rem;
		font-size: 1.8rem;
		font-weight: 600;
		color: var(--text-color);
	}

	&__menu {
		margin-bottom: 1.2rem;

		h3 {
			color: rgb(187, 186, 186);
		}
	}

	&__list {
		list-style: none;
		padding: 0.6rem;
	}

	&__item {
		display: flex;
		align-items: center;
		border-radius: 0.8rem;
		padding: 0.6rem;
		margin-bottom: 0.4rem;
		min-width: 16rem;

		cursor: pointer;
		transition: all 0.3s ease-in-out;

		// &:hover:not(.active) {
		// }

		&:hover,
		&.active {
			padding-left: 1.2rem;
			color: #000;
			background: rgb(240, 240, 255);
			transform: translate(0.4rem, -0.2rem);
		}
	}

	&__icon {
		font-size: 2rem !important;
		margin-right: 0.8rem;
	}
}
